<div class="border-t pt-6">
  <h2 class="text-xl font-semibold mb-4 text-gray-500">Make a Donation</h2>

  <form phx-submit="start_payment" phx-change="update_form">

    <%= unless @donor do %>
      <input
        type="text"
        name="guest_name"
        value={@guest_name}
        placeholder="Your Name"
        class="w-full mb-3 px-4 py-3 border rounded-lg text-gray-500"
      />

      <input
        type="email"
        name="guest_email"
        value={@guest_email}
        placeholder="Your Email"
        required
        class="w-full mb-3 px-4 py-3 border rounded-lg text-gray-500"
      />
    <% end %>

    <input
      type="number"
      name="amount"
      value={@amount}
      placeholder="Enter amount"
      required
      class="w-full px-4 py-3 border rounded-lg text-gray-500"
    />

    <button
      type="submit"
      class="w-full mt-6 py-3 bg-indigo-600 text-white rounded-lg"
    >
      Donate Now
    </button>
  </form>
</div>